# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# BUILD DIRECTORIES
build/
Build/
build-*/
out/
bin/
bin-int/

# VISUAL STUDIO
.vs/
*.user
*.suo
*.sln.docstates

# CMAKE
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
CMakeSettings.json

# TEMPORARY + CACHE
*.tmp
*.log
*.bak
*.swp
.cache/
Testing/

# VCPKG
vcpkg_installed/
vcpkg_packages/

# MAC
.DS_Store